@charset "UTF-8"

*{
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #293443,  #BAB7AC); 
    /*
    font-family: :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 3em;
    font-style: italic;*/
    font: normal lighter 1em 'Times New Roman', serif;
}
main { 
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #232d3a;
    margin: auto;
    width: 600px;
}
